server:
  port: 9999

spring:
  datasource:
    driver-class-name: org.mariadb.jdbc.Driver
    url: jdbc:mariadb://localhost:3306/postproject
    username: root
    password: mariadb
  mvc:
    view:
      prefix: /WEB-INF/views/
      suffix: .jsp
  servlet:
    multipart:
      max-file-size: 5MB
      max-request-size: 20MB

mybatis:
  configuration:
    map-underscore-to-camel-case: true
  type-aliases-package: com.spring.example.postproject.domain
  mapper-locations: classpath:mapper/**/*.xml

logging:
  level:
    com:
      example:
        postproject: debug

file:
  upload:
    location: ${user.home}/postproject/uploads/

