.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: crimson;
    color: white;
    padding-top: 70px; /* 헤더 아래에 위치 */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}
.logo-container {
    text-align: center;
}
.logo-container img {
    max-width: 100px; /* 로고 크기 */
}
.sidebar a {
    display: block;
    color: white;
    padding: 15px 25px;
    text-decoration: none;
    font-size: 1.1rem;
    border-left: 4px solid transparent;
    transition: all 0.3s ease;
}
.sidebar a:hover {
    background-color: #b60909;
    border-left: 4px solid white;
}
.logout-container {
    margin-top: auto;
    padding-top: 650px;
}