/* signup.css */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff; /* 흰색 배경 */
    background-image: linear-gradient(#ddd 1px, transparent 1px),
    linear-gradient(90deg, #ddd 1px, transparent 1px); /* 격자 무늬 */
    background-size: 40px 40px; /* 격자 간격 */

    color: #333;
}

.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    max-width: 600px;
    height: 800px;
    width: 100%;
    text-align: center;
}

img{
    width: 500px;

}

h2 {
    margin-bottom: 1.5rem;
    color: #333;
    font-size: 1.8rem;
}

.form-group {
    margin-bottom: 1.5rem;
    text-align: left;
}

label {
    display: block;
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 0.5rem;
}

input {
    width: 95%;
    padding: 0.8rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;

}

input:focus {
    border-color: #dd2476;
    outline: none;
    box-shadow: 0 0 5px rgba(221, 36, 118, 0.3);
}

.btn {
    background-color: #dd2476;
    color: #fff;
    padding: 0.8rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    width: 100%;
}

.btn:hover {
    background-color: #bf185e;
}

.separator {
    margin: 1.5rem 0;
    font-size: 0.9rem;
    color: #888;
    position: relative;
}

.separator:before,
.separator:after {
    content: '';
    display: block;
    height: 1px;
    background: #ddd;
    width: 40%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.separator:before {
    left: 0;
}

.separator:after {
    right: 0;
}

.btn-link {
    color: #dd2476;
    text-decoration: none;
    font-size: 0.9rem;
}

.btn-link:hover {
    text-decoration: underline;
}


.error-message {
    color: #ed4956;
    font-size: 12px;
    margin: 3px 0;
    display: block;
}







